body{
  overflow: hidden;
}
.container, .container-fluid, .row, .col{
  margin: 0;
  padding: 0;
}
.background{
  height: 100%;
  width: 100%;
  /* background-image: url(../media/images/login-banner.jpg); */
  /* background-image: url('https://project-website1283791.herokuapp.com/assets/media/images/login-banner.jpg'); */
  background-size: contain;
  background-repeat: repeat;
}
.login-section {
  position:absolute;
  width: 50%;
  height: 100%;
  background-color: var(--color-white);
  right: 0!important;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.logo-card{
  margin-top: 10px;
  height: 50px;
}
.logo-card img{
  height: 100%;
  width: auto;
}
.login-card{
  padding: 130px 0%;
  margin: auto;
  height: auto;
}
.login-text > p{
  color: var(--color-dark-blue);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.error > p{
  margin-bottom: 7px;
}
.error-text{
  display: none;
}
.error > .error-text{
  display: block;
  color: var(--color-red);
  font-size: 16px;
  margin-bottom: 7px;
}
.credentials{
  width: 500px;
}
.input-field-holder{
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-field{
  height: 60px;
  width: 100%;
  position: relative;
}
.input-field input{
  height: 100%;
  width: 100%;
  border: solid 2px;
  border-color: var(--color-dark-blue);
  border-radius: 100px;
  background-color: transparent;
  padding: 0 40px;
  outline: none;
  z-index: 1;
}
.input-field label{
  pointer-events: none;
  top: 13;
  left: 25;
  z-index: 0;
  color: var(--color-gray);
  padding: 3px 15px;
  font-size: 18px;
  position: absolute;
  transition: 0.5s;
}
.input-field input:valid ~ label, .input-field input:focus ~ label{
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  top: -15;
  left: 10;
  transform: scale(0.6);
  border-radius: 10px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.login-btn{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn input{
  height: 60px;
  width: 70%;
  border: none;
  border-radius: 100px;
  background-color: var(--color-blue);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.login-btn label{
  color: var(--color-white);
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  pointer-events: none;
}
.forgot-password, .no-account{
  font-size: 16px;
  margin: 30px;
  font-weight: 600;
}
.forgot-password a, .no-account a{
  text-decoration: none;
  color: var(--color-lite-blue);
}
.seperator{
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
  width: 60%;
  border: none;
  border-radius: 5px;
  background-color: var(--color-lite-blue);
  padding: 1px 0;
}
.log-with{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.log-with p{
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.log-with .accounts{
  margin-top: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.log-with .accounts .account-circle{
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: solid 1px;
  border-color: var(--color-gray);
  border-radius: 100%;
}
.log-with .accounts a{
  height: 100%;
  width: 100%;
  font-size: 30px;
  text-decoration: none;
  color: var(--color-lite-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-with .accounts .account-circle a svg{
  height: 50%;
}
.no-account{
  text-align: center;
}
/* Width based responsive edits */
@media screen and (max-width: 2160px) {
  .login-section{
    width: 65%;
  }
}
@media screen and (max-width: 1080px) {
  .login-section{
    width: 100%;
  }
}
/* Height based responsive edits */
@media screen and (max-height: 840px) {
  .login-card{
    height: auto;
    padding: 50px 0;
  }
}
