/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  image-rendering: smooth;
}
body{
  --color-white: #FFFFFF;
  --color-gray: #CDD7E1;
  --color-lite-blue: #71A0E6;
  --color-blue: #0448DA;
  --color-dark-blue: #051B3B;
  --color-red: #E63946;
}