@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
}
body{
  --color-white: #FFFFFF;
  --color-gray: #CDD7E1;
  --color-lite-blue: #71A0E6;
  --color-blue: #0448DA;
  --color-dark-blue: #051B3B;
  --color-red: #E63946;
}