.row {
    height: 100%;
    width: 100%;
}

.col {
    height: 100%;
    width: 50%;
}

html {
    height: 100%;
}

.container {
    height: 85%;
    width: 80%;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.mainHead {
    font-size: 45px;
    font-weight: 600;
}

.secondHead {
    font-weight: 600;
    font-size: 20px;
    padding-left: 40px;
}

.buttonContainer {
    height: 90px;
    padding-left: 40px;
    width: 610px;
}

@media (max-width: 360px) {
    .buttonContainer {
        width: 200px;
    }
}

.smBtn {
    width: 131px;
    height: 37px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    font-weight: 600;
    border: 2px solid #CDD7E1;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .smBtn {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}

.smBtn:hover {
    background-color: #CDD7E1;
    transition: 0.4s;
    color: #000000;
    border-color: #CDD7E1;
}

.icon {
    margin-right: 10px;
}

.sm {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.about {
    color: #71A0E6;
    font-size: 14px;
    font-weight: 600;
    margin-left: 70px;
    width: 401.8px;
}

@media (max-width: 360px) {
    .about {
        width: 263px;
    }
}

.bgArt {
    visibility: visible;
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    .bgArt {
        width: 401px;
        height: 289px;
    }
}

@media (max-width: 576px) {
    #imageCol {
        display: none;
    }
}

table {
    margin-left: 60px;
    padding: 0px;
    width: 70%;
    overflow: hidden;
}

tr {
    width: 100%;
}

td {
    width: 230px;
    border: none;
    height: 70px;
}

.inputf {
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #71A0E6;
    color: #0448DA;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    opacity: 100%;
}

.inputf:focus {
    color: #0448da;
    box-shadow: none;
    border-bottom-color: #0448da;
}

.inputf:focus::placeholder {
    color: transparent;
}

.inputf::placeholder {
    color: #71A0E6;
    font-size: 14px;
    padding: 5px;
    font-weight: 600;
    opacity: 100%;
    transition: 0.3s;
}

.inputHead {
    margin: 0px;
    padding-left: 10px;
    color: #0448da;
    font-weight: 600;
    font-size: 11px;
    color: transparent;
}

.inputHead:focus-within {
    transition: 0.4s;
    color: #0448da;
}

#submitBtn {
    width: 131px;
    height: 37px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

#submitBtn:hover {
    color: #0448da;
    background-color: white;
    transition: 0.4s;
}

#login {
    font-size: 14px;
    font-weight: 600;
    color: #71A0E6;
    margin-left: 5px;
    text-decoration: none;
}

#login:hover {
    color: #0448da;
    transition: 0.4s;
}